# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local files and directories
/.local/
*.key
*.pem
*.crt
*.csr

# local env files
.env*.local
.*local.env

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# production
/out/
/dist/
/public/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo